:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

ul {
  list-style: none;
}

header {
  display: flex;
  justify-content: column;
  justify-content: space-between;
  align-items: center;
  background-color: gray;
  height: 3rem;
}

.home-link {
  display: flex;
  justify-content: column;
  font-size: 1rem;
}

.ghub {
  padding: 0.1rem;
  font-weight: bold;
}

.odex {
  padding: 0.1rem;
}

.link-menu {
  display: flex;
  justify-content: column;
  padding-right: 1rem;
}

.menu-item {
  padding-left: 0.75rem;
}

.cat-pic {
  width: 100%;
  border: 0.05rem solid gray;
  border-style: solid;
  padding: 0.75rem;
}

figure {
  margin: 1rem;
  width: 25rem;
  border-bottom: 0.05rem solid gray;
  border-right: 1rem solid green;
}

figcaption {
  display: flex;
  justify-content: column;
  justify-content: space-between;
  align-items: center;
}

figcaption ul {
  display: flex;
  justify-content: column;
  align-items: center;
}

figcaption ul li {
  display: flex;
  padding-left: 0.5rem;
}

figcaption ul li img {
  height: 2rem;
}

footer {
  display: flex;
  justify-content: column;
  justify-content: space-between;
  align-items: center;
}

.legal {
  display: flex;
  align-items: row;
}
